<meta charset="utf-8" />
<div class="grid h-screen place-content-center bg-white px-4">
  <div class="text-center">
    <img src="../../public/404.jpg" alt="404" />
    <h1
      class="mt-6 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
      Uh-oh!
    </h1>

    <p class="mt-4 text-gray-500">No pude encontrar la página</p>
  </div>
</div>
