---
import Layout from "../layouts/Base.astro";
import Button from "../components/button.astro";
import ListRooms from "../components/ListRooms.astro";
---

<Layout title="Pagina de prueba">
  <h1 class="mb-5">Pagina de pruebas</h1>
  <div class="flex flex-col space-y-3 p-4">
    <Button title="Presioname" color="bg-gray-600">Presioname</Button>
    <Button title="Descarga" color="bg-blue-900">Descarga</Button>
    <Button title="Guardar" color="bg-amber-400">Guardar</Button>
    <Button title="Fuego">Actualizar</Button>
  </div>

  <div class="mt-5">
    <ListRooms />
  </div>
</Layout>
