---
import CardInfo from "../components/CardInfo.astro";
---

<div class="flex flex-row flex-wrap gap-3 justify-center">
  <CardInfo
    price="1500"
    address="123 Wallaby Avenue, Park Road"
    parking="2"
    bathrooms="2"
    bedrooms="3"
  />
  <CardInfo
    price="2000"
    address="123 Wallaby Avenue, Park Road"
    parking="1"
    bathrooms="2"
    bedrooms="3"
  />
  <CardInfo
    price="8500"
    address="123 Wallaby Avenue, Park Road"
    parking="3"
    bathrooms="2"
    bedrooms="5"
  />
  <CardInfo
    price="6500"
    address="123 Wallaby Avenue, Park Road"
    parking="2"
    bathrooms="1"
    bedrooms="4"
  />
</div>
